@media (max-width: 767px) {




    .center {
        padding-left: 16px;
        padding-right: 16px;

    }
    .top {
        height: 735px;

                &_section {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: center;
                    text-align: center;
                    padding-top: 238px;
                
            
            
            &_title {
                text-align: center;
                font-size: 32px;
                
            }
            &_p {
                text-align: center;
                font-size: 14px;

            }
    }
    }
.Game {
    height: 1221px;

    &_box {
        display: flex;
        flex-direction: column;
    }

    &_all {
        max-width: 343px;
    }
}

.game_seasons_items {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game_seasons_items_title {
    text-align: center;
    font-size: 32px;
}
.game_seasons_items_text {
    text-align: center;
    font-size: 14px;
}

.game_seasons_img_item {
    width: 344px;
    height: 236px;
}


}