* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    background: url(img/FON.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1024px;
}
.top_section{
    padding-top: 217px;
}
.top_section_title {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 740px;
}

.top_section_p {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px; 
    max-width: 480px;
    margin-top: 32px;
    margin-bottom: 44px;
}

.top_section_button {
    background: #9C0332;
    border-radius: 30px;
    border: none;
    box-sizing: border-box;
    width: 234px;
    height: 48px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    &:hover {
        background: #EB443F;
    }
}

.Game {
    height: 556px;
    background: #000915;
}
.Game_box {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 128px;
}

.Game_box_one {
    background: url(img/one.jpg);
}

.Game_box_two {
    background: url(img/two.jpg);
}

.Game_box_thre {
    background: url(img/thre.jpg);

}
.Game_all {
    grid-column: span 4;
    border-radius: 16px;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    align-items: flex-end;
    background-repeat: no-repeat;

    &:hover {
        border: 3px solid #44D2FF;
    }
}
.game_all_span {
    padding: 33px;
}

@import "mobile";